* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #f9f9f9;
  text-align: center;
  padding: 8px 0;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}
button {
  border: none;
  padding: 4px;
  border-radius: 6px;
  background-color: black;
  color: white;
}

button:hover {
  filter: brightness(90%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(32, 32, 32, 0.5);
  margin: 0 auto;
  width: fit-content;
}

.container > div:nth-child(1) {
  padding-right: 16px;
  border-right: 1px solid black;
}

.hidden {
  visibility: hidden;
}

.loading-msg {
  display: flex;
  justify-content: center;
}
